
@{
    ViewBag.Title = "Add Login Request";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
} 
@model StudentRegMVC.Models.LoginRequest
<h2>Login Request</h2>

<form action="AddLoginRequest/LoginRequest" method="post">


    @*Login Id           :  @Html.TextBoxFor(model => model.LogingID)<br />*@
    Student Name       :  @Html.TextBoxFor(model => model.Name)<br />
    Email Address      :  @Html.TextBoxFor(model => model.EmailAdress)<br />
    Login Name         :  @Html.TextBoxFor(model => model.LoginName)<br />
    New or Reactivate  :  @Html.TextBoxFor(model => model.NewOrReactivaterd)<br />
    Reason For Access  :  @Html.TextBoxFor(model => model.ReasonForAccess)<br />
    Date Required by   :  @Html.TextBoxFor(model => model.DateRequiedBy) <br />
    
@*<input type="text" login ="Loginid"  name="Name"/>*@


    <input type="submit" value="Request Login" />

</form>

